<!doctype html>
<html class="no-js" lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "URBank" %></title>

    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "modernizr" %>
  </head>

  <body class="<%= @page_classes %>">
    <%# partial "partials/header" %>
    <global-header></global-header>

    <div ui-view>
      
    </div>

    <global-footer></global-footer>
    <%# partial "partials/footer" %>
    <%= partial "partials/modal" %>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
