

<header class="hide-for-small-only" role="banner">
  <div class="top-bar" data-topbar>
    <div class="row">
      <div class="large-3 medium-3 columns">
        <ul class="title-area">
          <li class="name">
            <div id="logo"><a href="#"><img src="images/urbank-logo.png" alt="Urbank" /></a></div>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </div>
      <nav class="large-9 medium-9 columns" id="top_nav" role="navigation">
        <ul>
          <li<%= " class=\"current\"" if @page_classes == "index" %>><a href="#">Home</a></li>
          <li<%= " class=\"current\"" if @page_classes == "employee" %>><a href="#">Employee</a></li>
          <li<%= " class=\"current\"" if @page_classes == "company" %>><a href="#">Company</a></li>
          <li<%= " class=\"current\"" if @page_classes == "services" %>><a href="#">Services</a></li>
          <li<%= " class=\"current\"" if @page_classes == "contact" %>><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<header class="contain-to-grid sticky show-for-small-only" role="banner">
  <div class="top-bar" data-topbar data-options="sticky_on: small">
    <div class="row">
      <div class="large-3 medium-3 columns">
        <ul class="title-area">
          <li class="name">
            <div id="logo"><a href="#"><img src="images/urbank-logo.png" alt="Urbank" /></a></div>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </div>
      <nav class="large-9 medium-9 columns" id="top_nav" role="navigation">
        <ul>
          <li<%= " class=\"current\"" if @page_classes == "index" %>><a href="#">Home</a></li>
          <li<%= " class=\"current\"" if @page_classes == "employee" %>><a href="#">Employee</a></li>
          <li<%= " class=\"current\"" if @page_classes == "company" %>><a href="#">Company</a></li>
          <li<%= " class=\"current\"" if @page_classes == "services" %>><a href="#">Services</a></li>
          <li<%= " class=\"current\"" if @page_classes == "contact" %>><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
